/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App {
    height: 100%;
    color:rgb(19, 40, 44) ;
    font-family: 'Noto Sans', sans-serif ;
  }